.catalogItem {
  width: calc((100% - 48px) / 3);
  padding: 20px;
  background-color: var(--background);
  border-radius: 24px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.catalogItem:hover {
  box-shadow: 0 2px 18px rgba(48, 74, 114, 0.13);
}

.itemTitle {
  margin-bottom: 16px;
  color: var(--component-blue);
}

.itemDescription {
  margin-bottom: 40px;
}

.itemInfo {
  display: flex;
  justify-content: space-between;
}

.itemInfotext {
  padding: 8px 16px;
  background-color: var(--bg-contrast);
  border-radius: 20px;
  font-weight: 500;
}

.itemInfotext span {
  color: var(--component-dark-blue);
}
