.catalogItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc((100% - 48px) / 3);
  padding: 20px;
  background-color: var(--background);
  border-radius: 24px;
  min-height: 280px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 18px rgba(48, 74, 114, 0.13);
}

.changeItem {
  display: flex;
  gap: 8px;
}

.itemHeaderWrap {
  display: flex;
  justify-content: space-between;
}

.itemTitle {
  margin-bottom: 16px;
  color: var(--component-blue);
}

.itemInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.itemInfotext {
  padding: 8px 16px;
  background-color: var(--bg-contrast);
  border-radius: 20px;
  font-weight: 500;
}

.itemInfotext span {
  color: var(--component-dark-blue);
}

.linkWrap {
  display: flex;
  justify-content: center;
}

.editBtn {
  display: flex;
  align-items: center;
  font-family: 'Gilroy', sans-serif;
  padding: 6px 16px;
  background-color: rgba(23, 43, 145, 0.5);
  background-image: linear-gradient(
    273.87deg,
    rgba(18, 124, 222, 0.6),
    #172b91
  );
  height: 20px;
  background-size: 100%;
  color: var(--background);
  font-size: 14px;
  font-weight: 600;
  width: fit-content;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, background-size 0.3s ease-out;
}

.dellBtn {
  display: flex;
  align-items: center;
  font-family: 'Gilroy', sans-serif;
  padding: 6px 16px;
  background-image: linear-gradient(96.22deg, #f66f27 -3.41%, #ee3361 95.05%);
  height: 20px;
  color: var(--background);
  font-weight: 600;
  border-radius: 200px;
  cursor: pointer;
  transition: color 0.3s ease-out;
}

.dellBtn:hover {
  color: #172b91;
}

.startBtn {
  display: flex;
  align-items: center;
  font-family: 'Gilroy', sans-serif;
  padding: 8px 40px;
  background-color: rgba(23, 43, 145, 0.5);
  background-image: linear-gradient(
    273.87deg,
    rgba(18, 124, 222, 0.6),
    #172b91
  );
  background-size: 100%;
  color: var(--background);
  font-size: 18px;
  font-weight: 600;
  width: fit-content;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, background-size 0.3s ease-out;
}

.startBtn:hover,
.startBtn:focus,
.editBtn:hover,
.editBtn:focus {
  background-color: #172b91;
  background-size: 400%;
}
